@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 
.comic-types-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: white;
  color: #000;
}

.comic-type-item {
  flex: 0 0 calc(33.33% - 10px);
  max-width: calc(33.33% - 10px);
} */